.login-panel-container {
  padding: 30px 15px;
  width: 100%;

  .login-panel {
    width: 100%;
    max-width: 500px;
    //height: 300px;
    margin: 0 auto;
    padding: 20px;

    border-radius: 20px;
    border: 2px solid var(--color-primary);

    .login-img {
      margin: 15px auto 35px;
      width: 150px;
      height: 150px;
      background-image: url("../../../assets/img/login-icon.svg");
      background-size: cover;
      background-position: center;
    }

    .selector {
      width: 300px;
      margin: auto;
      height: 38px;
      display: flex;
      align-items: center;

      border: 1px solid var(--color-primary);
      border-radius: 10px;

      .selector-item {
        height: 40px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;

        p {
          font-size: 18px;
          font-weight: bold;
        }

        &.selected {
          background-color: var(--color-primary);
          color: white;
        }
      }
    }

    .login-form {
      margin: 15px 20px;

      .form-group {
        padding: 10px 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        label {
          flex: 2;
          text-align: right;
        }

        .input-container {
          flex: 3;
          padding-left: 25px;

          input {
            width: 75%;
            outline: none;
            padding: 10px 15px;

            border-radius: 5px;
            border: 1px solid black;
          }
        }
      }
    }

    .submit-btn {
      width: 75px;
      margin: 5px auto;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      background-color: var(--color-success);

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: white;
      }

      &.disabled {
        filter: opacity(0.6);
        cursor:  default;
      }
    }
  }
}
