/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #0275d8;
  --color-success: #5cb85c;
}

* {
  font-family: Calibri, serif;
}

p {
  margin: 0;
}
