.toolbar {
  max-width: 100%;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: white;

  .page-title {
    display: flex;
    align-items: center;

    p {
      margin-left: 15px;
    }
  }

  .logout-container {
    display: flex;
    align-items: center;

    p {
      margin-right: 15px;
    }

    img {
      cursor: pointer;
    }
  }
}
